html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
}
article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
  display: block;
}
a img {
  border: 0;
}
figure {
  position: relative;
}
figure img {
  width: 100%;
}
html {
  overflow-x: hidden;
}
body {
  background: #eeeeee url('../img/bkg.png');
  color: #222222;
  font-family: georgia, verdana, sans-serif;
  font-size: 12px;
}
a {
  color: #666666;
  font-size: 1em;
  text-decoration: none;
}
a.active {
  color: #3875d7;
}
a:hover {
  color: #3875d7;
  text-decoration: underline;
}
a img {
  border: 1px solid #eeeeee;
}
dl dt {
  font-size: 1.1em;
  line-height: 24px;
}
dl dd {
  line-height: 20px;
  margin-left: 20px;
}
fieldset {
  border: 1px solid #eeeeee;
  margin-top: 20px;
  padding: 10px;
}
fieldset legend {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eeeeee;
  font-size: 1.1em;
  line-height: 30px;
  /*    padding: @column-space / 4;*/

}
h1, h2, h3 {
  text-shadow: 2px 2px 4px #999999;
  margin: 0;
  margin-bottom: 10px;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.1em;
}
img {
  border: 1px solid #eeeeee;
  height: auto;
  padding: 2px;
}
p {
  margin: 5px 0;
}
table {
  width: 100%;
}
table thead {
  -moz-box-shadow: 0 6.666666666666667px 8px -8px #999999;
  -webkit-box-shadow: 0 6.666666666666667px 8px -8px #999999;
  box-shadow: 0 6.666666666666667px 8px -8px #999999;
  margin-bottom: 2px;
  font-size: 1.1em;
}
table thead tr {
  background-color: #eeeeee;
}
table thead th {
  padding: 5px;
}
table tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #eeeeee;
}
table tr.even {
  background-color: #f8f8f8;
}
table tr.odd {
  background-color: #fdfdfd;
}
table td {
  padding: 5px;
  text-align: left;
}
table td.edit {
  text-align: center;
}
table td.delete {
  text-align: center;
}
/* Form elements */
input {
  font-size: 1em;
  border: 1px solid #dadada;
  margin: 5px 0;
  padding: 0.6em;
}
input.form-text {
  width: 97.3%;
}
input:hover {
  border-color: #bcbcbc;
}
input:focus {
  border-color: #bcbcbc;
}
input.form-submit {
  background-color: #5693f5;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
}
input.form-submit:hover {
  background-color: #3875d7;
}
select {
  border: 1px solid #dadada;
  margin: 5px 0;
  padding: 0.6em;
}
select:hover {
  border-color: #bcbcbc;
}
textarea {
  border: 1px solid #dadada;
  margin: 5px 0;
  padding: 0.6em;
}
textarea:hover {
  border-color: #bcbcbc;
}
textarea:focus {
  border-color: #bcbcbc;
}
ul.action-links {
  list-style: none;
  margin: 5px 10px;
}
ul.action-links li {
  line-height: 20px;
}
#wrapper {
  margin: 0 auto 0 auto;
  max-width: 1140px;
  min-width: 335px;
  padding: 0 10px;
  position: relative;
}
#wrapper .sidebar {
  position: relative;
  width: 210px;
  z-index: 2;
}
#wrapper .sidebar .block {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 40px;
}
#wrapper .sidebar .block a {
  color: #3875d7;
}
#wrapper .sidebar .block input.form-text {
  width: 91%;
}
#wrapper .sidebar .block h2 {
  text-align: center;
}
#wrapper .divider {
  display: none;
}
#wrapper .tabledrag-toggle-weight-wrapper, #wrapper .more-link {
  line-height: 20px;
}
#wrapper #header-region {
  padding: 20px 0;
}
#wrapper #header {
  -moz-box-shadow: 0 20px 40px -40px #999999;
  -webkit-box-shadow: 0 20px 40px -40px #999999;
  box-shadow: 0 20px 40px -40px #999999;
  margin-bottom: 10px;
  z-index: 0;
}
#wrapper #header a {
  text-decoration: none;
}
#wrapper #header #logo-floater {
  text-shadow: 4px 4px 4px #adadad;
  clear: left;
  float: left;
  font-size: 2em;
  line-height: 100px;
  margin: 0;
  padding: 0;
}
#wrapper #header #logo-floater a {
  color: #3875d7;
}
#wrapper #header #logo-floater h1 {
  font-size: 1em;
  text-shadow: 4px 4px 4px #adadad;
}
#wrapper #header #logo-floater #branding {
  margin: 0;
}
#wrapper #header #logo-floater #logo {
  float: left;
  margin: 0;
  margin-right: 20px;
}
#wrapper #header #primary-menu {
  clear: right;
  float: right;
  font-size: 1.4em;
  margin: 0;
}
#wrapper #header #primary-menu ul {
  display: inline-block;
  margin: 30px 0;
}
#wrapper #header #primary-menu ul li {
  float: left;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}
#wrapper #header #primary-menu ul li a {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #f8f8f8;
  background-image: linear-gradient(bottom, #e4e4e4 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #f8f8f8 100%);
  background-image: -moz-linear-gradient(bottom, #e4e4e4 0%, #f8f8f8 100%);
  background-image: -webkit-linear-gradient(bottom, #e4e4e4 0%, #f8f8f8 100%);
  background-image: -ms-linear-gradient(bottom, #e4e4e4 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(1, #f8f8f8));
  display: block;
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
}
#wrapper #header #primary-menu ul li a.active {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #5693f5;
  background-image: linear-gradient(bottom, #427fe1 0%, #5693f5 100%);
  background-image: -o-linear-gradient(bottom, #427fe1 0%, #5693f5 100%);
  background-image: -moz-linear-gradient(bottom, #427fe1 0%, #5693f5 100%);
  background-image: -webkit-linear-gradient(bottom, #427fe1 0%, #5693f5 100%);
  background-image: -ms-linear-gradient(bottom, #427fe1 0%, #5693f5 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #427fe1), color-stop(1, #5693f5));
  color: #ffffff;
}
#wrapper #header #primary-menu ul li a:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #3875d7;
  background-image: linear-gradient(bottom, #2461c3 0%, #3875d7 100%);
  background-image: -o-linear-gradient(bottom, #2461c3 0%, #3875d7 100%);
  background-image: -moz-linear-gradient(bottom, #2461c3 0%, #3875d7 100%);
  background-image: -webkit-linear-gradient(bottom, #2461c3 0%, #3875d7 100%);
  background-image: -ms-linear-gradient(bottom, #2461c3 0%, #3875d7 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2461c3), color-stop(1, #3875d7));
  color: #ffffff;
}
#wrapper #header #primary-menu ul li.first {
  margin-left: 0;
}
#wrapper #container {
  position: relative;
}
#wrapper #container #sub-header {
  clear: both;
  display: block;
  padding: 10px;
  padding-bottom: 0;
}
#wrapper #container #sub-header #secondary-menu {
  float: right;
  font-size: 1.1em;
  text-align: right;
}
#wrapper #container #sub-header #secondary-menu ul {
  margin: 0;
}
#wrapper #container #sub-header #breadcrumb {
  float: left;
  font-size: 1.1em;
  text-align: left;
}
#wrapper #container #sub-header #breadcrumb .breadcrumb {
  font-size: 1.1em;
  padding: 0;
}
#wrapper #container #center {
  float: left;
  margin: 20px 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
#wrapper #container #center #notice {
  margin-bottom: 40px;
}
#wrapper #container #center #notice .messages {
  background-position: 5px 5px;
  border: none;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 40px;
}
#wrapper #container #center #notice .status {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #7fb23b;
}
#wrapper #container #center #notice .status a {
  color: #e3ff9f;
  font-weight: bold;
}
#wrapper #container #center #notice .error {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #ed541d;
}
#wrapper #container #center #notice .error a {
  color: #ffe0a9;
  font-weight: bold;
}
#wrapper #container #center #notice .warning {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #b2a119;
}
#wrapper #container #center #notice .warning a {
  color: #ffffaf;
  font-weight: bold;
}
#wrapper #container #center #highlighted {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #f8f8f8;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 20px;
}
#wrapper #container #center #squeeze {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 1px #999999;
  -webkit-box-shadow: 0 0 1px #999999;
  box-shadow: 0 0 6px 1px #999999;
  background-color: #ffffff;
  padding: 20px;
}
#wrapper #container #center #squeeze a {
  color: #3875d7;
}
#wrapper #container #center #squeeze h1, #wrapper #container #center #squeeze h2, #wrapper #container #center #squeeze h3 {
  text-align: left;
}
#wrapper #container #center #squeeze #help {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  padding: 5px 10px;
}
#wrapper #container #center #squeeze #help .block {
  padding-top: 5px;
  padding-bottom: 5px;
}
#wrapper #container #center #squeeze .messages {
  background-position: 5px 5px;
  border: none;
  color: #ffffff;
  margin: 5px 0;
}
#wrapper #container #center #squeeze .status {
  background-color: #7fb23b;
  color: #ffffff;
}
#wrapper #container #center #squeeze .status a {
  color: #e3ff9f;
  font-weight: bold;
}
#wrapper #container #center #squeeze .error {
  background-color: #ed541d;
  color: #ffffff;
}
#wrapper #container #center #squeeze .error a {
  color: #ffe0a9;
  font-weight: bold;
}
#wrapper #container #center #squeeze .warning {
  background-color: #b2a119;
  color: #ffffff;
}
#wrapper #container #center #squeeze .warning a {
  color: #ffffaf;
  font-weight: bold;
}
#wrapper #container #center #squeeze .form-item .status {
  background: none;
  border: 2px solid #7fb23b;
  color: #222222;
}
#wrapper #container #center #squeeze .form-item .error {
  background: none;
  border: 2px solid #ed541d;
  color: #222222;
}
#wrapper #container #center #squeeze .form-item .warning {
  background: none;
  border: 2px solid #b2a119;
  color: #222222;
}
#wrapper #container #center #squeeze ul.tabs {
  border-color: #eeeeee;
  height: 20px;
  padding: 0 20px;
  -moz-box-shadow: 0 5px 8px -8px #999999;
  -webkit-box-shadow: 0 5px 8px -8px #999999;
  box-shadow: 0 5px 8px -8px #999999;
  margin-bottom: 2px;
  margin: -15.384615384615383px -20px 22px;
}
#wrapper #container #center #squeeze ul.tabs li {
  border: 0;
  margin: 0;
  margin-left: -4px;
  padding: 0;
  list-style: none;
}
#wrapper #container #center #squeeze ul.tabs li a {
  background: none;
  border: 0;
  margin: 0;
  padding: 5px 10px;
}
#wrapper #container #center #squeeze ul.tabs li a.active {
  background-color: #5693f5;
  border-color: #5693f5;
  color: #ffffff;
}
#wrapper #container #center #squeeze ul.tabs li a:hover {
  background-color: #3875d7;
  border-color: #3875d7;
  color: #ffffff;
}
#wrapper #container #center #squeeze ul.links {
  display: block;
  line-height: 40px;
}
#wrapper #container #center #squeeze .block .node {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-bottom: 0;
  position: relative;
}
#wrapper #container #center #squeeze .block .node .submitted {
  margin: 0 0 12.5px;
  position: relative;
}
#wrapper #container #center #squeeze .block .node .submitted .author {
  text-align: left;
}
#wrapper #container #center #squeeze .block .node .user-picture {
  float: right;
  margin-top: -32px;
}
#wrapper #container #center #squeeze .block .node .user-picture img {
  height: 60px;
}
#wrapper #container #center #squeeze .block .node #comments {
  border-top: 1px solid #eeeeee;
  margin-top: 10px;
  padding-top: 20px;
}
#wrapper #container #center #squeeze .block .node #comments h2.title {
  text-align: left;
}
#wrapper #container #center #squeeze .block .node #comments .comment {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  padding: 0;
  position: relative;
}
#wrapper #container #center #squeeze .block .node #comments .comment .user-picture {
  margin-top: 0;
}
#wrapper #container #center #squeeze .block .node-teaser .user-picture {
  margin-top: 0;
}
#wrapper #container #sidebars {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}
#wrapper #container #left {
  left: 0;
  margin: 20px 20px 0 0;
  position: absolute;
}
#wrapper #container #right {
  margin: 20px 0 0 20px;
  position: absolute;
  right: 0;
}
#wrapper #footer {
  -moz-box-shadow: 0 -20px 20px -25px #999999;
  -webkit-box-shadow: 0 -20px 20px -25px #999999;
  box-shadow: 0 -20px 20px -25px #999999;
  margin-top: 5px;
  margin: 0;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}
#wrapper #footer a {
  color: #3875d7;
}
body.sidebar-first #wrapper #container #center #notice {
  margin-left: 250px;
}
body.sidebar-first #wrapper #container #center #highlighted {
  margin-left: 250px;
}
body.sidebar-first #wrapper #container #center #squeeze {
  margin-left: 250px;
}
body.sidebar-first #wrapper #footer {
  margin-left: 250px;
}
body.sidebar-second #wrapper #container #center #notice {
  margin-right: 250px;
}
body.sidebar-second #wrapper #container #center #highlighted {
  margin-right: 250px;
}
body.sidebar-second #wrapper #container #center #squeeze {
  margin-right: 250px;
}
body.sidebar-second #wrapper #container #left {
  margin: 20px;
  margin-right: 0;
}
body.sidebar-second #wrapper #footer {
  margin-right: 250px;
}
body.two-sidebars #wrapper #container #center #notice {
  margin-left: 250px;
  margin-right: 250px;
}
body.two-sidebars #wrapper #container #center #highlighted {
  margin-left: 250px;
  margin-right: 250px;
}
body.two-sidebars #wrapper #container #center #squeeze {
  margin-left: 250px;
  margin-right: 250px;
}
body.two-sidebars #wrapper #footer {
  margin-left: 250px;
  margin-right: 250px;
}
.clear-block:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* ----------- Responsivity ----------- */
/* 920px  */
@media only screen and (max-width: 920px) {
  #wrapper #header {
    text-align: center;
  }
  #wrapper #header #logo-floater {
    float: none;
    font-size: 1.6em;
    line-height: normal;
  }
  #wrapper #header #logo-floater #branding img {
    float: none;
    margin: 0;
  }
  #wrapper #header #logo-floater #branding span {
    display: block;
  }
  #wrapper #header #primary-menu {
    float: none;
  }
  #wrapper #header #primary-menu #main-menu {
    margin: 20px 0;
  }
  body.two-sidebars #wrapper #container #center {
    margin-left: 0;
    margin-right: -230px;
  }
  body.two-sidebars #wrapper #container #center #notice {
    margin-left: 0;
    margin-right: 250px;
  }
  body.two-sidebars #wrapper #container #center #highlighted {
    margin-left: 0;
    margin-right: 250px;
  }
  body.two-sidebars #wrapper #container #center #squeeze {
    margin-left: 0;
    margin-right: 250px;
  }
  body.two-sidebars #wrapper #container #left {
    float: right;
    margin: 20px 0 0 20px;
    position: relative;
  }
  body.two-sidebars #wrapper #container #right {
    float: right;
    margin: 0 0 0 20px;
    position: relative;
  }
  body.two-sidebars #wrapper #footer {
    margin: 0;
  }
}
/* 840px  */
@media only screen and (max-width: 840px) {
  
}
/* 780px  */
@media only screen and (max-width: 780px) {
  body {
    font-size: 10px;
  }
  body.sidebar-first #wrapper .sidebar {
    width: 100%;
  }
  body.sidebar-first #wrapper .sidebar .block {
    margin-bottom: 20px;
    padding: 10px;
  }
  body.sidebar-first #wrapper #container #center {
    clear: both;
    margin: 0;
    margin-top: 10px;
  }
  body.sidebar-first #wrapper #container #center #notice {
    margin: 0;
  }
  body.sidebar-first #wrapper #container #center #highlighted {
    margin: 0;
    margin-bottom: 20px;
  }
  body.sidebar-first #wrapper #container #center #squeeze {
    margin: 0;
  }
  body.sidebar-first #wrapper #container #center #squeeze .tabs {
    height: 18px;
  }
  body.sidebar-first #wrapper #container #left {
    position: relative;
  }
  body.sidebar-first #wrapper #footer {
    margin: 0;
  }
  body.sidebar-second #wrapper .sidebar {
    width: 100%;
  }
  body.sidebar-second #wrapper .sidebar .block {
    margin-bottom: 20px;
    padding: 10px;
  }
  body.sidebar-second #wrapper #container #center {
    clear: both;
    margin: 0;
    margin-top: 10px;
  }
  body.sidebar-second #wrapper #container #center #notice {
    margin: 0;
  }
  body.sidebar-second #wrapper #container #center #highlighted {
    margin: 0;
    margin-bottom: 20px;
  }
  body.sidebar-second #wrapper #container #center #squeeze {
    margin: 0;
  }
  body.sidebar-second #wrapper #container #center #squeeze .tabs {
    height: 18px;
  }
  body.sidebar-second #wrapper #container #right {
    position: relative;
  }
  body.sidebar-second #wrapper #footer {
    margin: 0;
  }
  body.two-sidebars #wrapper #container #center {
    float: none;
    margin: 0;
    margin-top: 20px;
  }
  body.two-sidebars #wrapper #container #center #notice {
    margin: 0;
  }
  body.two-sidebars #wrapper #container #center #highlighted {
    margin: 0;
    margin-bottom: 20px;
  }
  body.two-sidebars #wrapper #container #center #squeeze {
    margin: 0;
  }
  body.two-sidebars #wrapper #container #center #squeeze .tabs {
    height: 18px;
  }
  body.two-sidebars #wrapper #container #left {
    float: left;
    margin: 20px 0 0;
  }
  body.two-sidebars #wrapper #container #right {
    float: right;
    margin: 20px 0 0;
  }
  body.two-sidebars #wrapper #footer {
    margin: 0;
  }
  #wrapper .sidebar {
    width: 48.5%;
  }
  #wrapper .sidebar .block {
    margin-bottom: 20px;
    padding: 10px;
  }
  #wrapper .sidebar .block input.form-text {
    width: 95%;
  }
  #wrapper .divider {
    display: block;
    height: 10px;
  }
  #wrapper #header #primary-menu ul {
    width: 100%;
  }
  #wrapper #header #primary-menu ul li {
    float: left;
    margin: 1%;
    width: 31.2%;
  }
  #wrapper #header #primary-menu ul li a {
    padding: 5px;
  }
  #wrapper #header #primary-menu ul li.first {
    margin: 1%;
  }
  #wrapper #container #sub-header {
    margin-bottom: 5px;
    padding-top: 5px;
  }
  #wrapper #container #sub-header #secondary-menu {
    display: block;
    float: none;
    text-align: center;
  }
  #wrapper #container #sub-header #breadcrumb {
    display: block;
    float: none;
    text-align: center;
  }
  #wrapper #container #center #squeeze {
    padding: 10px;
  }
  #wrapper #container #center #squeeze ul.tabs {
    margin: -5px -10px 22px;
  }
  #wrapper #container #left {
    float: left;
    margin: 20px 0 0;
  }
  #wrapper #container #right {
    float: right;
    margin: 20px 0 0;
  }
}
/* Smart Phones */
/* 420px  */
@media only screen and (max-width: 420px) {
  body.two-sidebars #wrapper #container #left {
    float: left;
    margin: 20px 0 0;
  }
  body.two-sidebars #wrapper #container #right {
    float: left;
    margin: 0;
  }
  #wrapper .sidebar {
    width: 100%;
  }
  #wrapper .sidebar .block {
    margin-bottom: 20px;
    padding: 10px;
  }
  #wrapper .sidebar .block input.form-text {
    width: 96%;
  }
  #wrapper #header #primary-menu {
    font-size: 1.1em;
  }
  #wrapper #header #primary-menu ul {
    text-align: center;
    width: 100%;
  }
  #wrapper #header #primary-menu ul li {
    float: left;
    margin: 4px;
    width: 47.6%;
  }
  #wrapper #header #primary-menu ul li a {
    padding: 2.5px;
  }
  #wrapper #header #primary-menu ul li.first {
    margin: 4px;
  }
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
  		background: url(logo2x.jpg) no-repeat;
  		background-size: 212px 303px;
  	}*/
}
