
@column-sidebar: 250px;
@column-main: 700px;
@column-space: 20px;
@site-max-width: 1140px;
@site-min-width: 335px;

@color-light: #F8F8F8;
@color-grey-light: #EEEEEE;
@color-link: #666666;
@color-link-hover: #333333;
@color-glow: #999999;
@color-background-light: #FFFFFF;
@color-text: #222222;
@color-blue: #3875D7;
@color-blue-light: #5693F5;
@color-msg-status: #BBEE77 - 60%;
@color-msg-error: #ED541D;
@color-msg-warning: #EEDD55 - 60%;

@size-font-normal: 12px;
@size-font-small: 1.1em;
@size-font-medium: 1.4em;
@size-font-big: 1.6em;

.border(@color:red) {
  border: 1px solid @color;
}
.divider-bottom(@size: 1px, @color: @color-light - 10%) {
  border-bottom: @size solid @color;
  margin-bottom: @column-space;
  padding-bottom: @column-space / 2;
}
.shadow-top(@h: 0, @v: @column-space, @blur: @column-space, @spread: (@column-space * 1.25), @color: @color-glow) {
  -moz-box-shadow: @h -@v @blur -@spread @color;    
	-webkit-box-shadow: @h -@v @blur -@spread @color;    
	box-shadow: @h -@v @blur -@spread @color;    
  margin-top: (@column-space / 4);
}
.shadow-bottom(@h: 0, @v: @column-space, @blur: 40px, @spread: -40px, @color: @color-glow) {
  -moz-box-shadow: @h @v @blur @spread @color;    
	-webkit-box-shadow: @h @v @blur @spread @color;    
	box-shadow: @h @v @blur @spread @color;    
  margin-bottom: (@blur / 4);
}
.text-shadow(@h: 2px, @v: 2px, @blur: 4px, @color: @color-glow){
  text-shadow: @h @v @blur @color;
}
.glow(@spread: 4px) {
	-moz-box-shadow: 0 0 6px @spread @color-glow;
	-webkit-box-shadow: 0 0 @spread @color-glow;
	box-shadow: 0 0 6px @spread @color-glow;
}
.border-radius(@corn: 10px) {
  -webkit-border-radius: @corn;
  -moz-border-radius: @corn;
  border-radius: @corn;

}
.frame(@corn: 10px, @glow: 1px, @color: @color-background-light) {
  .border-radius(@corn);
  .glow(@glow);
  background-color: @color;
}
.form-element() {
  border: 1px solid (@color-light - 30%);
  margin: (@column-space / 4) 0;
  padding: 0.6em;
}
.gradient(@start: @color-link-hover, @end: @color-link) {
  background-image: linear-gradient(bottom, @start 0%, @end 100%);
  background-image: -o-linear-gradient(bottom, @start 0%, @end 100%);
  background-image: -moz-linear-gradient(bottom, @start 0%, @end 100%);
  background-image: -webkit-linear-gradient(bottom, @start 0%, @end 100%);
  background-image: -ms-linear-gradient(bottom, @start 0%, @end 100%);
  background-image: -webkit-gradient(
  	linear,
	  left bottom,
  	left top,
	  color-stop(0, @start),
  	color-stop(1, @end)
  );  
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

html {
  overflow-x: hidden;
}

body {
  background: @color-grey-light url('../img/bkg.png');
  color: @color-text;
  font-family: georgia, verdana, sans-serif;
  font-size: @size-font-normal;
}

a {
  color: @color-link;
  font-size: 1em;
  text-decoration: none;
  &.active {
    color: @color-blue;
  }
  &:hover {
    color: @color-blue;
    text-decoration: underline;
  }
  img {
    .border(@color-light - 10%);
  }
}


dl {
  dt {
    font-size: @size-font-small;
    line-height: @column-space * 1.2;
  }
  dd {
    line-height: @column-space;
    margin-left: @column-space;
  }
}

fieldset {
  border: 1px solid (@color-light - 10%);
  margin-top: @column-space;
  padding: @column-space / 2;
  legend {
    .border-radius();
    background-color: @color-light;
    border-bottom: 1px solid (@color-light - 10%);
    font-size: @size-font-small;
    line-height: 30px;
/*    padding: @column-space / 4;*/
  }
}

h1, h2, h3 {
  .text-shadow();
  margin: 0;
  margin-bottom: @column-space / 2;
}

h1 {
  font-size: @size-font-big;
}
h2 {
  font-size: @size-font-medium;
}
h3 {
  font-size: @size-font-small;
}

img {
  .border(@color-light - 10%);
	height: auto;
  padding: @column-space / 10;
}

p {
  margin: (@column-space / 4) 0;
}

table {
  width: 100%;
  
  thead {
    .shadow-bottom(0, (@column-space / 3), 8px, -8px);
    font-size: @size-font-small;
    tr {
      background-color: @color-light - 10%;
    }
    th {
      padding: @column-space / 4;
      
    }
  }
  
  tr {
    background-color: @color-light;
    border-bottom: 1px solid (@color-light - 10%);
    &.even {
      background-color: @color-light;
    }
    &.odd {
      background-color: @color-light + 5%;
    }
  }
  
  td {
    padding: @column-space / 4;
    text-align: left;
    
    &.edit {
      text-align: center;
    }
    &.delete {
      text-align: center;
    }
  }
}

/* Form elements */
input {
  font-size: 1em;
    .form-element();
  &.form-text {
    width: 97.3%;
  }
  &:hover {
    border-color: @color-light - 60%;
  }
  &:focus {
    border-color: @color-light - 60%;
  }
  &.form-submit {
    background-color: @color-blue-light;
    border-color: @color-background-light;
    color: @color-background-light;
    cursor: pointer;
    
    &:hover {
      background-color: @color-blue;
    }
  }
}
select {
  .form-element();
  &:hover {
    border-color: @color-light - 60%;
  }
}
textarea {
  .form-element();  
  &:hover {
    border-color: @color-light - 60%;
  }
  &:focus {
    border-color: @color-light - 60%;
  }
}

ul.action-links {
  list-style: none;
  margin: (@column-space / 4) (@column-space / 2);
  li {
    line-height: @column-space;
  }
}

#wrapper {
  margin: 0 auto 0 auto;
  max-width: @site-max-width;
  min-width: @site-min-width;
  padding: 0 (@column-space / 2);
  position: relative;
  
  .sidebar {
    position: relative;
    width: @column-sidebar - (@column-space * 2);
    z-index: 2;

    .block {
      .frame(10px, 1px, @color-light);
      padding: @column-space;
      margin-bottom: @column-space * 2;
      
      a {
        color: @color-blue;
      }
      input {
        &.form-text {
          width: 91%;
        }  
      }
      h2 {
        text-align: center;
      }
    }
  }
  
  .divider {
    display: none;
  }
  .tabledrag-toggle-weight-wrapper, .more-link {
    line-height: @column-space;
  }

  #header-region {
    padding: @column-space 0;
  }  
  #header {
    .shadow-bottom();
    z-index: 0;
    a {
      text-decoration: none;
    }
    
    #logo-floater {
      .text-shadow(4px, 4px, 4px, @color-glow + 20%);
      clear: left;
      float: left;
      font-size: 2em;
      line-height: @column-space * 5;
      margin: 0;
      padding: 0;

      a {
        color: @color-blue;
      }
      h1 {
        font-size: 1em;
        .text-shadow(4px, 4px, 4px, @color-glow + 20%);
      }
      #branding {
        margin: 0;
      }
      #logo {
        float: left;
        margin: 0;
        margin-right: @column-space;
      }
    }
    
    #primary-menu {
      clear: right;
      float: right;
      font-size: @size-font-medium;
      margin: 0;
      
      ul {
        display: inline-block;
        margin: (@column-space * 1.5) 0;
        
        li {
          float: left;
          margin: 0;
          margin-left: @column-space;
          padding: 0;
          
          a {
            .frame(10px, 1px, @color-light);
            .gradient(@color-light - 20%, @color-light);
            display: block;
            font-weight: bold;
            line-height: @column-space;
            padding: @column-space / 2;
            
            &.active {
              .frame(10px, 1px, @color-blue-light);
              .gradient(@color-blue-light - 20%, @color-blue-light);
              color: @color-background-light;
            }
            &:hover {
              .frame(10px, 1px, @color-blue);
              .gradient(@color-blue - 20%, @color-blue);
              color: @color-background-light;
            }
          }
        }
        li.first {
          margin-left: 0;
        }
      }
    }
  }
  #container {
    position: relative;
    #sub-header {
      clear: both;
      display: block;
      padding: @column-space / 2;
      padding-bottom: 0;
      #secondary-menu {
        float: right;
        font-size: @size-font-small;
        text-align: right;
        ul {
          margin: 0;
        }
      }
      #breadcrumb {
        float: left;
        font-size: @size-font-small;
        text-align: left;
        .breadcrumb {
          font-size: @size-font-small;
          padding: 0;
        }
      }
    }
    #center {
      float: left;
      margin: @column-space 0;
      padding: 0;
      position: relative;
      width: 100%;
      z-index: 1;
      #notice {
        margin-bottom: @column-space * 2;
        .messages {
          background-position: (@column-space / 4) (@column-space / 4);
          border: none;
          color: @color-background-light;
          margin: 0;
          margin-bottom: @column-space;
          padding: (@column-space / 2);
          padding-left: @column-space * 2;
        }
        .status {
          .frame(10px, 1px, @color-msg-status);
          a {
            color: @color-msg-status + 100%;
            font-weight: bold;
          }
        }
        .error {
          .frame(10px, 1px, @color-msg-error);
          a {
            color: @color-msg-error + 140%;
            font-weight: bold;
          }
        }
        .warning {
          .frame(10px, 1px, @color-msg-warning);
          a {
            color: @color-msg-warning + 150%;
            font-weight: bold;
          }
        }
      }
      #highlighted {
        .frame(10px, 1px, @color-light);
        border: none;
        margin: 0;
        margin-bottom: @column-space * 2;
        padding: @column-space;
      }
      #squeeze {
        .frame();
        padding: @column-space;
        a {
          color: @color-blue;
        }
        h1, h2, h3 {
          text-align: left;
        }
        #help {
          .border-radius();
          .divider-bottom();
          background-color: @color-light;
          padding: (@column-space / 4) (@column-space / 2);
          .block {
            padding-top: (@column-space / 4);
            padding-bottom: (@column-space / 4);
          }
        }
        .messages {
          background-position: (@column-space / 4) (@column-space / 4);
          border: none;
          color: @color-background-light;
          margin: (@column-space / 4) 0;
        }
        
        .status {
          background-color: @color-msg-status;
          color: @color-background-light;
          a {
            color: @color-msg-status + 100%;
            font-weight: bold;
          }
        }
        .error {
          background-color: @color-msg-error;
          color: @color-background-light;
          a {
            color: @color-msg-error + 140%;
            font-weight: bold;
          }
        }
        .warning {
          background-color: @color-msg-warning;
          color: @color-background-light;
          a {
            color: @color-msg-warning + 150%;
            font-weight: bold;
          }
        }
        .form-item {
          .status {
            background: none;
            border: (@column-space / 10) solid @color-msg-status;
            color: @color-text;
          }
          .error {
            background: none;
            border: (@column-space / 10) solid @color-msg-error;
            color: @color-text;
          }
          .warning {
            background: none;
            border: (@column-space / 10) solid @color-msg-warning;
            color: @color-text;
          }
        }
        ul.tabs {
          border-color: @color-grey-light;
          height: @column-space;
          padding: 0 @column-space;
          .shadow-bottom(0, (@column-space / 4), 8px, -8px);
          margin: (-@column-space / 1.3) -@column-space (@column-space + 2px);
          li {
            border: 0;
            margin: 0;
            margin-left: -4px;
            padding: 0;
            list-style: none;
            a {
              background: none;
              border: 0;
              margin: 0;
              padding: (@column-space / 4) (@column-space / 2);
              
              &.active {
                background-color: @color-blue-light;
                border-color: @color-blue-light;
                color: @color-background-light;
              }
              &:hover {
                background-color: @color-blue;
                border-color: @color-blue;
                color: @color-background-light;
              }
            }
          }
        }
        ul.links {
          display: block;
          line-height: (@column-space * 2);
        }
        .block {
          .node {
            .divider-bottom();
            padding-bottom: 0;
            position: relative;
            .submitted {
              margin: 0 0 (@column-space / 1.6);
              position: relative;
              .author {
                text-align: left;
              }
            }
            .user-picture {
              float: right;
              margin-top: -@column-space * 1.6;
              img {
                height: @column-space * 3;
              }
            }
            #comments {
              border-top: 1px solid (@color-light - 10%);
              margin-top: @column-space / 2;
              padding-top: @column-space;
              h2.title {
                text-align: left;
              } 
              .comment {
                .divider-bottom();
                margin-top: @column-space;
                padding: 0;
                position: relative;
                .user-picture {
                  margin-top: 0;
                }
                
              }
            }
          }
          .node-teaser {
            .user-picture {
              margin-top: 0;
            }
          }
          
        }
      }
    }
    
    #sidebars {
      left: 0;
      position: absolute;
      right: 0;
      z-index: 0;
    }
    #left {
      left: 0;
      margin: @column-space @column-space 0 0;
      position: absolute;
    }
    #right {
      margin: @column-space 0 0 @column-space;
      position: absolute;
      right: 0;
    }
  }
  
  
  #footer {
    .shadow-top();
    margin: 0;
    margin-top: @column-space / 2;
    padding: @column-space;
    
    text-align: center;
    a {
      color: @color-blue;
    }
  }
}

body.sidebar-first {
  #wrapper {
    #container {
      #center {
        #notice {
          margin-left: @column-sidebar;
        }
        #highlighted {
          margin-left: @column-sidebar;
        }
        #squeeze {
          margin-left: @column-sidebar;
        }
      }
    }
    #footer {
      margin-left: @column-sidebar;
    }
  }
}
body.sidebar-second {
  #wrapper {
    #container {
      #center {
        #notice {
          margin-right: @column-sidebar;
        }
        #highlighted {
          margin-right: @column-sidebar;
        }
        #squeeze {
          margin-right: @column-sidebar;
        }
      }
      #left {
        margin: @column-space;
        margin-right: 0;
        
      }
    }
    #footer {
      margin-right: @column-sidebar;
    }
  }
}
body.two-sidebars {
  #wrapper {
    #container {
      #center {
        #notice {
          margin-left: @column-sidebar;
          margin-right: @column-sidebar;
        }
        #highlighted {
          margin-left: @column-sidebar;
          margin-right: @column-sidebar;
        }
        #squeeze {
          margin-left: @column-sidebar;
          margin-right: @column-sidebar;
        }
      }
    }
    #footer {
      margin-left: @column-sidebar;
      margin-right: @column-sidebar;
    }
  }
}

.clear-block:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}



/* ----------- Responsivity ----------- */


/* 920px  */
@media only screen and (max-width: 920px) {
  #wrapper {
    #header {
      text-align: center;
      #logo-floater {
        float: none;
        font-size: @size-font-big;
        line-height: normal;
        #branding {
          img {
            float: none;
            margin: 0;
          }
          span {
            display: block;
          }
        }
      }
      #primary-menu {
        float: none;
        #main-menu {
          margin: @column-space 0;
        }
      }
    }
  }
  body.two-sidebars {
    #wrapper {
      #container {
    
        #center {
          margin-left: 0;
          margin-right: -(@column-sidebar) + @column-space;
        
          #notice {
            margin-left: 0;
            margin-right: @column-sidebar;
          }
          #highlighted {
            margin-left: 0;
            margin-right: @column-sidebar;
          }
          #squeeze {
            margin-left: 0;
            margin-right: @column-sidebar;
          }
        }
        #left {
          float: right;
          margin: @column-space 0 0 @column-space;
          position: relative;
        }
        #right {
          float: right;
          margin: 0 0 0 @column-space;
          position: relative;
        }
      }
      #footer {
        margin: 0;
      }
    }
  }
}

/* 840px  */
@media only screen and (max-width: 840px) {
  
}

/* 780px  */
@media only screen and (max-width: 780px) {   
  body {
    font-size: @size-font-normal - 2;
  }
  body.sidebar-first {
    #wrapper {
      .sidebar {
        width: 100%;
        .block {
          margin-bottom: @column-space;
          padding: @column-space / 2;
        }
      }
    
      #container {
        #center {
          clear: both;
          margin: 0;
          margin-top: (@column-space / 2);
          #notice {
            margin: 0;
          }
          #highlighted {
            margin: 0;
            margin-bottom: @column-space;
          }
          #squeeze {
            margin: 0;
            .tabs {
              height: @column-space - 2;
            } 
          }
        }
        #left {
          position: relative;
        }
      }
      #footer {
        margin: 0;
      }
    }
  }
  body.sidebar-second {
    #wrapper {
      .sidebar {
        width: 100%;
        .block {
          margin-bottom: @column-space;
          padding: @column-space / 2;
        }
      }
      #container {
        #center {
          clear: both;
          margin: 0;
          margin-top: (@column-space / 2);
          #notice {
            margin: 0;
          }
          #highlighted {
            margin: 0;
            margin-bottom: @column-space;
          }
          #squeeze {
            margin: 0;
            .tabs {
              height: @column-space - 2;
            } 
          }
        }
        #right {
          position: relative;
        }
      }
      #footer {
        margin: 0;
      }
    }
  }
  body.two-sidebars {
    #wrapper {
      #container {
        #center {
          float: none;
          margin: 0;
          margin-top: @column-space;
          #notice {
            margin: 0;
          }
          #highlighted {
            margin: 0;
            margin-bottom: @column-space;
          }
          #squeeze {
            margin: 0;
            .tabs {
              height: @column-space - 2;
            } 
          }
        }
        #left {
          float: left;
          margin: @column-space 0 0;
        }
        #right {
          float: right;
          margin: @column-space 0 0;
        }
      }
      #footer {
        margin: 0;
      }
    }
  }
  #wrapper {
    .sidebar {
      width: 48.5%;
      .block {
        margin-bottom: @column-space;
        padding: @column-space / 2;
        input {
          &.form-text {
            width: 95%;
          }
        }
      }
    }
    .divider {
      display: block;
      height: @column-space / 2;
    }
    #header {
      #primary-menu {
        ul {
          width: 100%;
          li {
            float: left;
            margin: 1%;
            width: 31.2%;
            a {
              padding: (@column-space / 4);
            }
            &.first {
              margin: 1%;
            }
          }
        }
      }
    }
    #container {
      #sub-header {
        margin-bottom: @column-space / 4;
        padding-top: @column-space / 4;
        
        #secondary-menu {
          display: block;
          float: none;
          text-align: center;
        }
        #breadcrumb {
          display: block;
          float: none;
          text-align: center;
        }
      }
      #center {
        #squeeze {
          padding: @column-space / 2;
          ul.tabs {
            margin: (-@column-space / 4) (-@column-space / 2) (@column-space + 2px);
          }
        }
      }
      #left {
        float: left;
        margin: @column-space 0 0;
      }
      #right {
        float: right;
        margin: @column-space 0 0;
      }
    }
  }
}

/* Smart Phones */
/* 420px  */
@media only screen and (max-width: 420px) {
  
  body.two-sidebars {
    #wrapper {
      #container {
      
        #left {
          float: left;
          margin: @column-space 0 0;
        }
        #right {
          float: left;
          margin: 0;
        }
      }
    }
  }
  
  #wrapper {
    .sidebar {
      width: 100%;
      .block {
        margin-bottom: @column-space;
        padding: @column-space / 2;
        input {
          &.form-text {
            width: 96%;
          }
        }
      }
    }
    #header {
      #primary-menu {
        font-size: @size-font-small;
        ul {
          text-align: center;
          width: 100%;
        
          li {
            float: left;
            margin: @column-space / 5;  
            width: 47.6%;
            a {
              padding: @column-space / 8;
            }
            &.first {
              margin: @column-space / 5;
            }
          }
        }
      }
    }
  }
}



/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
